<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="component">
		<field name="bulk_payout" type="radio" class="btn-group btn-group-yesno" default="0" label="JGLOBAL_BULK_PAYOUT" description="JGLOBAL_BULK_PAYOUT_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="vendor_approval" type="radio" class="btn-group btn-group-yesno" default="0" label="COM_TJVENDORS_VENDOR_APPROVAL" description="COM_TJVENDORS_VENDOR_APPROVAL_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="payout_limit_days" type="number" default="0" label="COM_TJVENDORS_PAYOUT_DATE_LIMIT" description="COM_TJVENDORS_PAYOUT_DATE_LIMIT_DESC"/>
		<field name="image_size" type="number" default="2500" label="COM_TJVENDORS_IMAGE_SIZE" description="COM_TJVENDORS_IMAGE_SIZE_DESCRIPTION"/>
		<field name="email" type="text" label="COM_TJVENDORS_ADMIN_EMAIL_ADDRESS" description="COM_TJVENDORS_ADMIN_EMAIL_ADDRESS_DESCRIPTION"/>

		<field name="load_bootstrap" type="radio" default="0" label="COM_TJVENDORS_LOAD_BOOTSTRAP" description="COM_TJVENDORS_LOAD_BOOTSTRAP_DESC" class="btn-group">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="show_selected_fields" class="btn-group" type="radio" default="0" label="COM_TJVENDOR_SHOW_ALL_FIELDS" description="COM_TJVENDOR_SHOW_ALL_FIELDS_DESC" >
		<option value="1">JYES</option>
		<option value="0">JNO</option>
		</field>
		<field name="vendor_field" type="list" default="" showon="show_selected_fields:1" multiple="multiple" label="COM_TJVENDOR_SELECT_FIELD_TO_HIDE_VENDOR_CREATION" description="COM_TJVENDOR_SELECT_FIELD_TO_HIDE_VENDOR_CREATION_DESC">
			<option value="alias">COM_TJVENDOR_VENDOR_ALIAS</option>
			<option value="vendor_description">COM_TJVENDOR_VENDOR_DESCRIPTION</option>
			<option value="vendor_logo">COM_TJVENDOR_VENDOR_VENDOR_LOGO</option>
			<option value="phone_number">COM_TJVENDOR_VENDOR_PHONE_NUMBER</option>
			<option value="website_address">COM_TJVENDOR_VENDOR_WEBSITE_ADDRESS</option>
			<option value="payment_gateway">COM_TJVENDOR_VENDOR_PAYMENT_GATEWAY</option>
			<option value="vat_number">COM_TJVENDOR_VENDOR_VAT_NUMBER</option>
			<option value="address">COM_TJVENDOR_VENDOR_ADDRESS</option>
			<option value="country">COM_TJVENDOR_VENDOR_COUNTRY</option>
			<option value="state">COM_TJVENDOR_VENDOR_STATE</option>
			<option value="city">COM_TJVENDOR_VENDOR_CITY</option>
			<option value="zip">COM_TJVENDOR_VENDOR_ZIPCODE</option>
		</field>
	</fieldset>
	<fieldset name="permissions" description="JCONFIG_PERMISSIONS_DESC" label="JCONFIG_PERMISSIONS_LABEL">
		<field name="rules" type="rules" component="com_tjvendors" class="inputbox" filter="rules" validate="rules" label="JCONFIG_PERMISSIONS_LABEL" section="component" />
	</fieldset>
</config>

